/// Place all the styles related to the Tasks controller here.
/// They will automatically be included in application.css.
/// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
	margin: auto;
	width: 500px;
}

.footer{
	margin: auto;
	width: 500px;
}

.menu{
	padding: 0;
}

	.menu__item{
		display: inline;
		margin-right: 40px;
	}

.tasks{
	margin: auto;	
	width: 500px;
}

.task{
	margin-top: 5px;
	overflow: hidden;
}

.task__completed{
	margin-right: 10px;
	float: left;
}

.task__title{
	margin-right: 10px;
	width: 300px;
	float: left;
}

.task__title:active{
	margin-right: 10px;
	width: 300px;
	color: #505050
}

.task__title:visited{
	margin-right: 10px;
	width: 300px;
	color: #505050

}

.task__title_completed{
	text-decoration: line-through;
}

.task__deadline{
	width: 160px;
	float: left;
}

.taskList{
	padding-left: 10px;
}

.taskList__item{
	list-style-type: none;
}

.taskList__container{

}