<div>
  <div class="tasks__row filter">
    <span class="filter__title">Поиск: </span>
    <input type="text" class="filter__item" ng-model="taskQuery" placeholder="filter name...">
  </div>
  <ul class="tasks__row taskList">
    <li class="taskList__item" ng-repeat="task in tasks | filter:taskQuery">
      <div class="taskList__container task">
        <input type="checkbox" 
               class="task__completed" 
               ng-model="completed">
        <div href="/tasks/{{task.id}}" contenteditable='true' class="task__title" 
              ng-class="{'task__title_completed':completed,'':!completed}" ng-model="task.title">{{task.title}}</div>
        <span class="task__deadline">{{task.deadline | date:'dd/MM/yyyy'}}</span>
      </div>
    </li>
  </ul>
</div>