<h1>Editing task</h1>
 
  <form action="update" metod="post">
    <input type="hidden" for='id' ng-model='task.id'>
    <ul>
      <li>
        <strong>title:</strong> 
        <input type="text" for='title' ng-model='task.title' required>
      </li>
      <li>
        <strong>deadline:</strong>
        <input type="date" for='deadline' ng-model='task.deadline'>
      </li>
    </ul>
    <input type="submit" text='submit'>
  </form>