
<div class="tasks" ng-controller="TaskListCtrl">
  <div class="tasks__row filter">
    <span class="filter__title">Поиск: </span>
    <input type="text" class="filter__item" ng-model="taskQuery" placeholder="filter name...">
  </div>
  <ul class="tasks__row taskList">
    <li class="taskList__item" ng-repeat="task in tasks | filter:taskQuery">
      <div class="taskList__container task">
        <input type="checkbox" 
               class="task__completed" 
               value="{{task.completed}}" 
               ng-model="completed">
        <a href="/tasks/{{task.id}}" class="task__title" 
              ng-class="{'task__title_completed':completed,'':!completed}">{{task.title}}</a>
        <span class="task__deadline">{{task.deadline | date:'dd/MM/yyyy'}}</span>
      </div>
    </li>
  </ul>
</div>