<!DOCTYPE html>
<html lang="en">
<head>
  <title>AngularTaskList</title>
  <script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.js"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "controllers", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="header">
		<h1 class="header__title">Listing tasks</h1>
		<ul class="header__menu menu">
			<li class="menu__item">
				<a class="menu__link" href="/">Home</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="/about">About</a>
			</li class="menu__item">
			<li class="menu__item">
				<a class="menu__link" href="/contacts">Contacts</a>
			</li>
		</ul>
	</header>

	<%= yield %>

	
</body>
</html>
